// Color Used
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$Dark :hsl(249, 10%, 26%);
$Grayish: hsl(246, 25%, 77%);
$white:#fff;
@import"general";
@import"interface";
@import"min-width-1120";